* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: grid;
  grid-template:
    "nav-bar nav-bar nav-bar nav-bar" 80px
    "left-menu main right-menu right-side-menu" 1fr/
    256px 1fr 300px 50px;
}
.container > * {
  border: 1px solid grey;
}
.nav-bar {
  background-color: yellow;
  grid-area: nav-bar;
}
.right-menu {
  background-color: blue;
  grid-area: right-menu;
  overflow: auto;
}
.main {
  background-color: blueviolet;
  grid-area: main;
  border-left: none;
  height: 2000px;
  overflow: auto;
}
.left-menu {
  background-color: springgreen;
  grid-area: left-menu;
  border-right: none;
  overflow: auto;
}
.right-side-menu {
  background-color: brown;
  grid-area: right-side-menu;
}
.child-main {
  height: 2500px;
}
.child-right-menu {
  height: 2500px;
}

.child-left-menu {
  height: 2500px;
}
@media screen and (max-width: 820px) and (min-height: 1180px) {
  .right-side-menu {
    display: none;
  }
  .container {
    grid-template:
      "nav-bar nav-bar nav-bar " 80px
      "left-menu main right-menu " 1fr/
      256px 170px 1fr;
  }
}
@media screen and (max-width: 822px) and (min-width: 819px) and (max-height: 1180px) and (max-height: 1180px) {
  .right-side-menu {
    display: grid;
  }
  .container {
    grid-template:
      "nav-bar nav-bar nav-bar nav-bar" 60px
      "left-menu main right-menu right-side-menu" 1fr/
      256px 1fr 300px 50px;
  }
}
