.left-menu {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}
.left-side-emails {
  padding-right: 10px;
  gap: 10px;
  height: 450px;
  display: grid;
  grid-template-rows: 80px 24px 24px 24px 24px 24px;
  border-bottom: 0.5px solid rgb(229, 229, 229);
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Helvetica;
}
.compose-button {
  margin: 20px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  height: 50px;
  padding: 10px 20px;
  outline: none;
  border-radius: 30px;
  background-color: white;
  border: 0.5px solid rgb(229, 229, 229);
  box-shadow: 0px 1px 2px 0.5px rgba(173, 166, 166, 0.463);
}
.items {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-left: 40px;
  margin-right: 10px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fixed-items {
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  padding: 8px 25px;
  border-top: 0.5px solid rgb(229, 229, 229);
  position: sticky;
}
.google-meet {
  display: grid;
  grid-template-rows: 50px auto;
  border-bottom: 0.5px solid rgb(229, 229, 229);
  height: 140px;
}
.google-meet .items {
  padding-bottom: 10px;
}
